@model List<BurgerMenu.Entities.About>

<section class="site-section" id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-5 site-animate mb-5">
                <h4 class="site-sub-title">Bizim Hikayemiz</h4>
                <h2 class="site-primary-title display-4">Hoş Geldiniz</h2>
                <p>@ViewBag.hakkimizda1 </p>

                <p class="mb-4">@ViewBag.hakkimizda2</p>
                <p><a href="#" class="btn btn-secondary btn-lg">Daha Fazla Bilgi Edinin</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                <img src="/eatwell-master/images/a1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
            </div>
        </div>
    </div>
</section>
